<div class="row">
  <button
    class="btn btn-primary"
    [ngClass]="{'active': period === 'day'}"
    (click)="setPeriod('day')"
  >Day</button>
  <button
    class="btn btn-primary"
    [ngClass]="{'active': period === 'week'}"
    (click)="setPeriod('week')"
  >Week</button>
  <button
    class="btn btn-primary"
    [ngClass]="{'active': period === 'month'}"
    (click)="setPeriod('month')"
  >Month</button>
  <button
    class="btn btn-primary"
    [ngClass]="{'active': period === 'year'}"
    (click)="setPeriod('year')"
  >Year</button>

  <div class="form-group">
    <label for="startDate">Start Date</label>
    <input
      type="date"
      id="startDate"
      [(ngModel)]="calendarStartDate"
      class="form-control"
      (change)="(onDateSelected())"
    />
  </div>
  <div class="form-group">
    <label for="endDate">End Date</label>
    <input
      type="date"
      id="endDate"
      [(ngModel)]="calendarEndDate"
      class="form-control"
      (change)="(onDateSelected())"
    />
  </div>
</div>
