.icon-dashboard-outline-blue:after {
    content: "";
    transition: all ease-in-out 0.25s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/images/icons/dashboard-outline-blue.png');
}
