<div *ngIf="metrics || isLoading" class="main-page">
<app-date-range-picker
  (datesSelected)="setDatesSelected($event)"
></app-date-range-picker>

  <div class="data-display">
    <app-loader
      [isLoading]="isLoading"
    ></app-loader>

    <app-table
      [columns]="columns"
      [data]="metrics"
      (cellClicked)="displayProductInfo($event)"
    ></app-table>

    <app-pagination-footer
      [pagination]="pagination"
      (pageChange)="onPageChange($event)">
    </app-pagination-footer>
  </div>
</div>
