.filters {
  width: 100%;

  .date-range-picker-container {
    width: 100%;
    margin-left: 20px;
  }

  .search-bar-container {
    width: 30%;
    margin-right: 30px;
  }

  .dropdown-container {
    width: 30%;
    align-content: center;
    margin: 0;
  }
}
