<app-modal>
  <ng-container header>
    <h3>{{ title }}</h3>
  </ng-container>

  <ng-container content>
    <div>
      <h2>Quantity Sold</h2>
      <ngx-charts-line-chart
        [view]="[700, 300]"
        [results]="quantitySoldData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Date'"
        [yAxisLabel]="'Quantity Sold'">
      </ngx-charts-line-chart>
    </div>

    <div>
      <h2>Sales Revenue</h2>
      <ngx-charts-line-chart
        [view]="[700, 300]"
        [results]="salesRevenueData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Date'"
        [yAxisLabel]="'Sales Revenue'">
      </ngx-charts-line-chart>
    </div>

    <div>
      <h2>Stock Balance</h2>
      <ngx-charts-line-chart
        [view]="[700, 300]"
        [results]="stockBalanceData"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxisLabel]="'Date'"
        [yAxisLabel]="'Stock Balance'">
      </ngx-charts-line-chart>
    </div>
  </ng-container>

  <ng-container footer>
    <a (click)="close()" class="btn btn-large btn-outline-black">Cancel</a>
  </ng-container>
</app-modal>
