@import '../styles.scss';

.full-panel {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar-panel {
  width: 250px;
  overflow-y: auto;
}

.main-panel {
  width: 100%;
  padding: $padding-base;
  margin-left: 50px;
  overflow-y: auto;
}
