<div *ngIf="metrics" class="container mt-12">
  <button class="button-primary" (click)="setPeriod('day')">Day</button>
  <button class="button-primary" (click)="setPeriod('week')">Week</button>
  <button class="button-primary" (click)="setPeriod('month')">Month</button>
  <button class="button-primary" (click)="setPeriod('month')">Year</button>

  <!-- Stock Information Cards -->
  <div class="section-header">
    <h1>Stock</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12 pr-0 pl-0">
        <div class="card">
          <div class="card-title">
            <h2>Total Value</h2>
          </div>
          <div class="card-body">
            <div>
              <p>{{ metrics.stock.inventory_value | number: '1.2-2' }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 pr-0 pl-0">
        <div class="row">
          <div class="col-md-6 pr-0">
            <div class="card">
              <div class="card-title">
                <h2>In</h2>
              </div>
              <div class="card-body">
                <div>
                  <p>{{ metrics.stock.products_in_stock_count }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-title">
                <h2>Out</h2>
              </div>
              <div class="card-body">
                <div>
                  <p>{{ metrics.stock.products_out_of_stock_count }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 pr-0 pl-0">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h2>Critically Low</h2>
              <ul>
                <li *ngFor="let product of metrics.stock.critically_low_stock_products">{{ product }}</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h2>
                <strong>Excessive</strong>
              </h2>
              <ul>
                <li *ngFor="let product of metrics.stock.excessive_stock_products">{{ product }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sales Information Cards -->
  <div class="section-header">
    <h1>Sales</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-12 pr-0 pl-0">
        <div class="card">
          <div class="card-title">
            <h2>Total Value</h2>
          </div>
          <div class="card-body">
            <p>{{ metrics.sales.total_sales_value | number: '1.2-2' }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 pr-0 pl-0">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-title">
                <h2>Amount</h2>
              </div>
              <div class="card-body">
                <p>{{ metrics.sales.number_of_sales }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-title">
                <h2>Items</h2>
              </div>
              <div class="card-body">
                <p>{{ metrics.sales.total_items_sold }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 pr-0 pl-0">
      <div class="card">
        <div class="card-title">
          <h2>Best</h2>
        </div>
        <div class="card-body">
          <p><strong>Highest:</strong> {{ metrics.sales.highest_sale | number: '1.2-2' }}</p>
          <p><strong>Most Items:</strong> {{ metrics.sales.sale_with_most_items }} items</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 pr-0">
      <div class="card">
        <div class="card-title">
          <h2>Worst</h2>
        </div>
        <div class="card-body">
          <p><strong>Lowest:</strong> {{ metrics.sales.lowest_sale | number: '1.2-2' }}</p>
          <p><strong>Least Items:</strong> {{ metrics.sales.sale_with_least_items }} items</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Product Performance Cards -->
  <div class="section-header">
    <h1>Products</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-title">
          <h2>Top Performers</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h2>Top Selling</h2>
              <ul>
                <li *ngFor="let product of metrics.product_performance.top_selling_products">{{ product }}</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h2>Highest Revenue</h2>
              <ul>
                <li *ngFor="let product of metrics.product_performance.highest_revenue_products">{{ product }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 pr-0">
      <div class="card">
        <div class="card-title">
          <h2>Underperformers</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h2>Least Selling</h2>
              <ul>
                <li *ngFor="let product of metrics.product_performance.least_selling_products">{{ product }}</li>
              </ul>
            </div>
            <div class="col-md-6">
              <div>
                <h2>Lowest Revenue</h2>
                <ul>
                  <li *ngFor="let product of metrics.product_performance.lowest_revenue_products">{{ product }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
