<div class="main-page">
  <div class="dropdown-container">
    <app-dropdown
      [placeholder]="'Select provider'"
      [options]="providerOptions"
      [selectedOptionId]="providerId"
      (selectionChange)="onProviderSelection($event)">
    </app-dropdown>
    <app-dropdown
      [placeholder]="'Select category'"
      [options]="categoryOptions"
      [selectedOptionId]="categoryId"
      (selectionChange)="onCategorySelection($event)">
    </app-dropdown>
  </div>
  <app-table
    [columns]="columns"
    [data]="reorderSuggestions"
    (cellClicked)="displayOrderInfo($event)"
  >
  </app-table>

  <app-pagination-footer
    [pagination]="pagination"
    (pageChange)="onPageChange($event)">
  </app-pagination-footer>
</div>
