<div class="main-page">
  <div class="dropdown-container">
    <app-dropdown
      [placeholder]="'Select category'"
      [options]="categoryOptions"
      [selectedOptionId]="categoryId"
      (selectionChange)="onCategorySelection($event)">
    </app-dropdown>
  </div>

  <div class="data-display">
    <app-loader
      [isLoading]="isLoading"
    ></app-loader>

    <div *ngIf="stockData && metrics">
      <ngx-charts-bar-horizontal
        [results]="stockData"
        [view]="[1300, 600]"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [customColors]="customColours"
        [roundEdges]="false">
      </ngx-charts-bar-horizontal>
    </div>
  </div>
</div>
